*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}

.navbar{
    background-color: #f8f9fa;
    color:#111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar-brand{
    font-size: 1.5rem;
}
.navbar-brand a{
    text-decoration: none;
    list-style: none;
    color: #000;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    padding: 0 20px;
}
.nav-links a{
    color: gray;
    text-decoration: none;
    transition: color 0.3s;
}
.nav-links a:hover{
    color:#020202;
}
.container{
    background-color: #dee2e6;
    margin: 1rem;
    padding: 4rem;
}
.aboutus{
    font-size: 3rem;
}
.mission{
    font-size: 2rem
}
.para{
font-size: 19px;
color: #424242;
}
.contact{
    font-size: 2rem;
    margin-left: 2rem;
}
.details{
    margin-left: 3rem;
    margin-top: 2rem;
}